In [1]:
import numpy as np
import pandas as pd

In [4]:
bank = pd.read_csv("bank_marketing_updated_v1.csv",skiprows=2)

In [6]:
bank["job"]=bank.jobedu.apply(lambda x: x.split(',')[0])
bank["education"]=bank.jobedu.apply(lambda x: x.split(',')[1])

In [9]:
bank.groupby("education")['salary'].aggregate(["mean","median"])

                   mean  median
education
primary    34212.377755   20000
secondary  49743.815188   55000
tertiary   82873.618525  100000
unknown    46558.427571   50000

In [14]:
bank['response_flag']= np.where(bank.response=="yes",1,0)

In [18]:
len(bank.response=="yes")

45211

In [36]:
bank.groupby("education")['response_flag'].mean()

education
primary      0.086265
secondary    0.105551
tertiary     0.149989
unknown      0.135703
Name: response_flag, dtype: float64

In [37]:
?pd.cut

In [39]:
bank.Price

AttributeError: 'DataFrame' object has no attribute 'Price'